 
 :root {
            --color1: rgb(255, 130, 117);
            --color2: #f4f4f4;
        }

        body {
            margin: 0;
            font-family: Arial;
            /* line-height: 1.5px; */
        }

        div.cover {
            background: url(cover_overlay.png) no-repeat center/100% 100%, url(cover.jpg) no-repeat center/cover;
            height: 400px;
            position: relative;
        }

        h1 {
            color: white;
            text-align: center;
        }

        div.cover p {
            color: lightgrey;
            text-align: center;

        }

        img.cover-profile {
            margin-top: 30px;
            height: 200px;
            position: relative;
            left: 50%;
            margin-left: -100px;
        }

        div.cover-contact {
            position: absolute;
            top: 10px;
            left: 10px;
            border-left: 4px solid var(--color1);
            padding-left: 8px;
        }

        div.cover-contact a {
            display: block;
            color: white;
            font-size: 14px;
        }

        div.cover-button a {
            position: absolute;
            left: 50%;
            margin-top: 2px;
            margin-left: -60px;
            color: white;
            background-color: #00000060;
            font-size: 14px;
            border: 5px solid salmon;
            padding: 8px 20px;
            /* removes underline */
            text-decoration: none;

        }

        div.cover-button a:hover {
            color: white;
            border: 5px solid white;

        }

        p.cover-small {
            font-size: 12px;
        }

        div.gray-section1 {
            background-color: var(--color2);
            height: 100px;
            padding-left: 20%;
            padding-right: 20%;
            padding-top: 8%;

        }

        div.white-section1 {
            /* background-color: var(--color2); */
            height: 100px;
            padding-left: 20%;
            padding-right: 20%;
            padding-top: 8%;
            padding-bottom: 10%;
        }

        div.gray-section2 {
            background: url(triangle1white.svg) no-repeat center top/100%;
            background-color: var(--color2);
            text-align: center;
            padding-top: 10%;
            padding-left: 20%;
            padding-right: 20%;
            padding-bottom: 10%;

        }

        div.separator {

            height: 1px;
            width: 150px;

            background-color: #979797;
            position: relative;
            left: 50%;
            margin-left: -75px;
            margin-bottom: 40px;
        }
        .col40{

            width: 30%;
            object-fit: cover;
            height: 200px;
            float: left;
            padding-left: 10%;
        }
        .col60{
            width:55%;
            float: right;
           padding:10px;
           padding-top: 0;
           box-sizing: border-box;
        }
        div.text-with-vertical-bar{
            border-left:4px solid var(--color1) ;
            max-height: 50px;
            margin-left: 8px;
            display: inline-block;
        }
        div.text-with-vertical-bar p{
            margin-top: 0;
        }
        div.vertical-bar
        {
            border-left:4px solid var(--color1) ;
            min-height: 50px;
            padding: 5px;
            margin-left: 8px;
        }